@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  width: 1920 px;
  height: 2360 px;
  background-color: 
}

.logo_name {
  width: 208 px;
  height: 88 px;
}