@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {

}

ul{
  list-style-type: none;
}
/*HEADER*/ 

.main_header{
  display: flex;
  margin-bottom: 28px;
  align-items: center;

}

/*main logo*/

.main_logo{
  display: flex;
  padding-top: 24px;
}
.logo_img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
  border-radius: 6px;
  margin-left: 12px;
  margin-right: 12px;
}
.logo_img span {
  font-family: Red;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.logo_name{
  display: flex ;
  width: 124px;
  height: 36px;
  font-family: Red;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #0C2146; 
}

/*head nav*/

.head_nav{
  display: flex;
  margin-right: 107px;
  margin-top: 28px;
}
a{
  text-decoration: none;
}
.sell_shopka{
  width: 143px;
  height: 32px;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: inline;
  align-items: center;
  text-align: center;
  letter-spacing: 0.004em;
  color: #5A5B6A;
  margin-right: 33px;
}
.register{
  text-decoration: none;
  width: 80px;
  height: 32px;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 158%;
  display: inline;
  align-items: center;
  text-align: center;
  letter-spacing: 0.004em;
  color: #5A5B6A;
}

/*search bar*/

.search_bar{
  display: flex;
}
.search{
  display: flex;
  width: 668px;
  height: 48px;
  margin-top: 20px;
  margin-right: 30px;
  background: #EDEDF0;
  border-radius: 99px;
}
.search img{
  width: 17px;
  height: 17px;
  display: flex;
  margin: 15px;
}
.search input{
  display: flex;
  width: 585px;
  left: 44px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 158%;
  align-items: center;
  letter-spacing: 0.0075em;
  color: #19191D;
  background: #EDEDF0;
  border: none;
  border-radius: 99px;
}
.clean {
  left: 17px;
  padding-top: 15px;
  color:#2979FF;

}
.search_bar a{
  text-decoration: none;
  width: 210px;
  height: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 158%;
  display: inline;
  align-items: center;
  letter-spacing: 0.0075em;
  color: #2264D1;
  margin-top: 26px;
  margin-right: 123px;
}

/*user_nav*/

.user_nav{
  display: flex;
}
.singIn button {
  background-color: white;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 21px;
  margin-top: 28px;
}
.myCard button {
  background-color: white;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 28px;
  margin-top: 28px;
}
.avatar{
  margin-top: 24px;
}

/*MAIN NAV*/

.main_nav{
  display: flex;
  width: 1493px;
  margin: auto;
  display: flex;
}
.nav{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin-bottom: 40px;
}

/*MAIN CONTENT*/
.main_content{
  display: flex;
  width: 1493px;
  height: 2160px;
  margin: auto;
}

/*left bar*/
.left_bar{
  width: 304px;
  margin-right: 75px;
}
.departments{
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #2264D1;
  background: #FFFFFF;
  border: 1px solid #9DC2FF;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 40px;
}
.additional_line{
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  color: #787885;
}
.categories{
  align-items: center;
  letter-spacing: 0.0275em;
  color: #19191D;
}
.electronics span{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
}
.show_more{
  width: 138px;
  height: 40px;
  left: 64px;
  top: 416px;
  background: #EBF2FF;
  border-radius: 4px;
}
.show_more span{
  font-size: 14px;
  line-height: 16px;
  color: #2264D1;
  padding: 11px;
}
.expand{
  align-items: center;
  padding: 6px 12px;
  width: 75px;
  height: 40px;
  left: 56px;
  top: 672px;
  background: #EBF2FF;
  border-radius: 4px;
  margin-bottom: 32px;
}
.expand span{
  font-size: 14px;
  line-height: 16px;
  color: #2264D1;
  padding: 11px;    
}

/*filters*/
.collapsed{
  text-align: center;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 8px;
  margin-bottom: 24px;
}
.expanded{
  background: #F7F7FA;
  border-radius: 4px;
}
.tittle{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
}
.expanded span{
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0275em;
  color: #19191D;
}
.manufacturing{
  background: #F7F7FA;
  border-radius: 4px;
}
.manufacturing span{
  font-size: 16px;
  line-height: 150%;
  
  letter-spacing: 0.0275em;
  color: #19191D;
}

/*content bar*/
.content_bar{
  width: 1114px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card{
  width: 30%;
  height: 472px;
  text-align: center;
}
.card span{
  display: block;
  text-align: center;
}
/*FOOTER*/
.main_footer{
  height: 292px;
  background: lightgray;
}
.info{
  width: 1114px;
  background: #EDEDF0;
  ;
  margin-right: 214px;
  float: right;
}